#coursepayment_mollie_gateways {
    margin-bottom: 10px;
}

#coursepayment_mollie_gateways tr {
    cursor: pointer;
}

#coursepayment_mollie_gateways tr.selected {
    background: #e6e6e6;
}

#coursepayment_mollie_gateways tr td {
    border-bottom: 1px solid lightgray;
}

#issuers_ideal {
    background: #e6e6e6;
}

#coursepayment_agreement_checkbox input[type="checkbox"] {
    vertical-align: middle;
}

#coursepayment_agreement_checkbox {
    padding: 0 0 0 20px;
    min-height: 40px;
}

#page-mod-customcert-edit .deletebutton {
    text-align: right;
}

#page-mod-customcert-edit .addpage {
    border-top: 1px solid #f4f4f4;
    text-align: right;
}

#page-mod-customcert-edit #id_replace {
    margin-left: 10px;
}

#page-mod-customcert-report .centre {
    margin-left: auto;
    margin-right: auto;
}

#page-enrol-coursepayment-view-invoice_rearrange .savepositionsbtn,
#page-enrol-coursepayment-view-invoice_rearrange .applypositionsbtn,
#page-enrol-coursepayment-view-invoice_rearrange .cancelbtn {
    float: left;
}

#page-enrol-coursepayment-view-invoice_rearrange .element {
    display: inline-block;
    position: absolute;
    word-wrap: break-word;
}

#page-enrol-coursepayment-view-invoice_rearrange .element:before {
    background-image: url([[pix:enrol_coursepayment|target]]);
    background-repeat: no-repeat;
    content: "";
    display: block;
    float: left;
    height: 9px;
    width: 100%;
}

#page-enrol-coursepayment-view-invoice_rearrange .element:hover {
    cursor: move;
}

#page-enrol-coursepayment-view-invoice_rearrange .element.refpoint-left:before {
    background-position: left top;
    margin: -4px -5px -5px -4px;
}

#page-enrol-coursepayment-view-invoice_rearrange .element.refpoint-center:before {
    background-position: center top;
    margin: -4px 0 -5px 0;
}

#page-enrol-coursepayment-view-invoice_rearrange .element.refpoint-right:before {
    background-position: right top;
    margin: -4px -5px -5px 4px;
}

#page-enrol-coursepayment-view-invoice_rearrange #pdf {
    border-style: solid;
    border-width: 1px;
    clear: both;
}

#page-enrol-coursepayment-view-invoice_rearrange div#leftmargin {
    border-left: 1px dotted black;
}

#page-enrol-coursepayment-view-invoice_rearrange div#rightmargin {
    border-right: 1px dotted black;
}

.coursepaymentbox {
    background-color: #F5F5F5;
    width: 300px;
    font-size: 1.5em;
    font-weight: bold;
}

.cpbtop {
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.cpbmiddle {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.cpbbottom {
    border: 1px solid gray;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}

.coursepayment-btn {
    border-radius: 5px 5px 5px 5px !important;
}

/*
    This is a hack - the fieldset being returned by the edit_element_form class contains
    the CSS class 'hidden' which when shown in a dialogue hides the fieldset.
*/
.moodle-dialogue #editelementform fieldset.hidden {
    display: block;
}
