{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @package enrol_coursepayment
    @copyright 6-11-2018 MFreak.nl
    @author    Luuk Verhoeven

    @template enrol_coursepayment/orderdata
}}
<table style="width:{{width}}px;color:{{color}};" cellpadding="5" cellspacing="2">
    <tr>
        <th style="font-weight: bold">{{# str}} orderdata:coursename, enrol_coursepayment {{/ str}}</th>
        <th style="font-weight: bold">{{# str}} orderdata:vat, enrol_coursepayment {{/ str}}</th>
        <th style="text-align: right;font-weight: bold">{{# str}} orderdata:total, enrol_coursepayment {{/ str}}</th>
    </tr>
    <tr>
        <td>{{coursename}}</td>
        <td>{{vat}}%</td>
        <td style="text-align: right">&euro; {{subtotal}}</td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td>{{# str}} orderdata:subtotal, enrol_coursepayment {{/ str}}</td>
        <td colspan="2" style="text-align: right">&euro; {{subtotal}}</td>
    </tr>
    <tr>
        <td>{{# str}} orderdata:vat, enrol_coursepayment {{/ str}} ({{vat}}%)</td>
        <td colspan="2" style="text-align: right">&euro; {{vat_price}}</td>
    </tr>
    <tr>
        <td><b>{{# str}} orderdata:total, enrol_coursepayment {{/ str}}</b></td>
        <td colspan="2" style="text-align: right"><b>&euro; {{total}}</b></td>
    </tr>
</table>